h1 {
    color: pink;
    background-color: black;
    text-transform: uppercase;
    text-indent: 50px;
}

li {
    color: blue;
    text-transform: capitalize;
    text-decoration: underline;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: blueviolet;
}